html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

@font-face {
  font-family: 'SF BOLD';
  src: url('/fonts/SFPRODISPLAYBOLD.OTF');
}

@font-face {
  font-family: 'SF MED';
  src: url('/fonts/SFPRODISPLAYMEDIUM.OTF');
}

@font-face {
  font-family: 'SF REG';
  src: url('/fonts/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
  font-family: 'Plex Mono';
  src: url('/fonts/IBMPlexMono-Light.woff2');
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.mono {
  font-family: 'Plex Mono', monospace;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'SF MED', Sans-Serif;
  color: #2F2F2F;
}

.reg {
  font-family: 'SF REG', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF MED', Sans-Serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  transition: 300ms;
  text-decoration: none;
  color: inherit;
}

p a:hover {
  background-color: #ae7cdf3a;
}

p {
  opacity: 0.66;
}